.changePassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-bottom: 60px;
}

.changePassword-title {
  font-size: 22px;
}

@media (min-width: 1000px) {
  @media (min-height: 900px) {
    .changePassword-container {
      min-height: 90%;
    }
  }
}
