.todoItem-container {
  width: 100%;
  max-width: 375px;
  min-width: 317px;
  min-height: 60px;
  background-color: var(--color-two);
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.todoItem-p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-letter);
  word-break: break-all;
  padding: 4px 50px;
}

.todoItem-p__completed {
  text-decoration: line-through;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.todoItem-check {
  left: 15px;
  border: solid 2px var(--color-three);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2s ease background;
  /* transform: rotate(180deg) translate(0, 5px); */
}

.todoItem-check__completed {
  background-color: var(--color-three);
  color: #ffffff;
}

.todoItem-delete {
  right: 0;
  /* top: 0; */
  /* transform: translate(0, -50%); */
}

.todoItem-delete:hover {
  color: red;
}
