.burger-container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  height: 35px;
  width: 40px;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: azure;
}
