.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 60px;
  padding: 0 15px;
  background-color: var(--color-two);
  margin: 0 auto 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px #031956d4;
  text-align: center;
}

.todo-counter {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.todo-counter span {
  font-weight: 700;
}

.counter-progress {
  width: 100%;
}
