.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 90px;
  padding: 0 15px;
  background-color: var(--color-two);
  margin: 0 auto 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 3px #031956d4;
}

.todo-counter {
}

.counter-progress {
  width: 100%;
  transition: all 0.2s ease;
}
