.todoButton {
  position: fixed;
  background-color: #61dafa;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 35px;
  bottom: 20px;
  right: 20px;
  border: none;
  transform: rotate(0);
  transition: 0.3s ease;
  z-index: 1;
}

.todoButton.open {
  transform: rotate(224deg);
}
