.menu-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  height: 100vh;
  z-index: 4;
  width: 80vw;
  transform: translate(-100vw);
  background-color: var(--color-two);
  border-radius: 0 30px 30px 0;
  transition: transform 0.7s ease;
  overflow: hidden;
}

.menu-container.open {
  transform: translate(0);
}

.nav-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-letter);
  border: solid 2px var(--color-letter);
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease opacity;
}
.nav-button:hover {
  opacity: 0.8;
}

.nav-button-arrow {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border: solid 2px var(--color-letter);
  border-top: none;
  border-right: none;
  transform: translate(10px) rotate(45deg);
}

.nav {
  display: grid;
  place-items: center;
  height: 300px;
  width: 80%;
}

.nav-ul {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-li {
  list-style: none;
  display: inline-block;
  width: auto;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  border-left: solid 0px var(--color-one);
  transition: 0.1s ease border;
  padding: 3px 6px;
}

.nav-li:hover {
  border-left: 8px solid var(--color-one);
}

.nav-logOut {
  background: transparent;
  border: none;
  color: var(--color-letter);
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .menu-container {
    height: 100%;
    width: 50%;
  }
}
