.menu-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  height: 100vh;
  z-index: 2;
  width: 80vw;
  transform: translate(-100vw);
  background-color: var(--color-two);
  border-radius: 0 30px 30px 0;
  transition: transform 1s ease;
}

.menu-container.open {
  transform: translate(0);
}
.nav-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-letter);
  border: solid 2px var(--color-letter);
  opacity: 0.6;
}

.nav-button-arrow {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border: solid 2px var(--color-letter);
  border-top: none;
  border-right: none;
  transform: translate(10px) rotate(45deg);
}

.nav {
  display: grid;
  place-items: center;
  height: 400px;
  width: 80%;
}

.nav-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-ul {
  list-style: none;
}
