.resetPassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.resetPassword-title {
  font-size: 22px;
}

.resetPassword-login {
  display: grid;
  place-items: center;
  width: 100px;
  height: 30px;
  background-color: rgb(35, 82, 211);
  border-radius: 20px;
}
